@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <table class="striped centered">
        <thead>
            <tr>
                <th>Section</th>
                <th>Code</th>
                <th>Course Title</th>
                <th>Total Units</th>
                <th>Asynchronous</th>
                <th>Face-To-Face</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSIT-32E2</td>
                <td>106-ELEC323</td>
                <td>IT Elective 3</td>
                <td>3</td>
                <td>THU 03:00PM-05:00PM</td>
                <td>SAT 10:00AM-01:00PM</td>
            </tr>
        </tbody>
    </table>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
